
@{
    ViewBag.Title = "RecuperarContrasena";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<center>
    <h4>Digite su correo electrónico para recuperar su contrasena</h4>
    <br />
    <form>
        <div class="form-group">
            <input type="text" class="form-control" id="txt_email" placeholder="Ingrese el correo electrónico">
        </div>
        <button class="btn btn-primary" onclick="">Continuar</button>
        <div id="recuperar" style="display:none">
        </div>
    </form>
</center>