@model Proyecto_TechPro.Entidades.Usuario

@{
    ViewBag.Title = "Recuperar Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h2>Recuperar Contraseña</h2>

    @using (Html.BeginForm("olvidoContrasena", "login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">   
            <hr />
            @Html.ValidationMessage("Error", new { @class = "text-danger" })
        <div class="form-group">
            <label for="email">Correo electrónico</label>
            @Html.TextBoxFor(m => m.email, new { @class = "form-control", @type = "text", @placeholder = "usuario@dominio.com", @id = "txt_email" })
            @Html.ValidationMessage("email", new { @class = "text-danger" })
        </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Continuar" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</center>