
@model Productos

@{
    ViewBag.Title = "FiltrarConsulta";
}

<h2>FiltrarConsulta</h2>

@using (Html.BeginForm("FiltrarConsulta", "VistaUno", FormMethod.Post))
{



    @Html.DropDownListFor(m => m.Estado, ViewBag.ComboEstados as IEnumerable<SelectListItem>, new { @class = "form-control" })


    <input id="" type="submit" value="Filtrar" class="btn btn-secondary btn-lg">


}


