@{
    ViewBag.Title = "Contactenos";
}
<center>
   
    <img src="~/images/contactenos.png" width="800" height="300" />
</center>
<br />
<address>
    San José, Costa Rica<br />
    San Pedro, Santa Marta 9.933432338925238, -84.03504368251245<br />
    <p title="Telefono">Telefono de contacto: 2206-8600</p>
    
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:SoporteTech@techpro.co.cr">SoporteTech@techpro.co.cr</a><br />
    <strong>Ventas:</strong> <a href="mailto:VentasTech@techpro.co.cr">VentasTech@techpro.co.cr</a>
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.017792012753!2d-84.0346038002507!3d9.932475933697038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e3f47ea4ff37%3A0x7a7818a6a9e5c90c!2sFidelitas%20University%20Campus%20San%20Pedro!5e0!3m2!1sen!2scr!4v1616610658163!5m2!1sen!2scr" width="1200" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>