@{
    ViewBag.Title = "Home Page";
}


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/images/carousel/carousel1.jpeg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/carousel/carousel2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/carousel/carousel3.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />

<div class="card-deck d-flex flex-wrap justify-content-center">

    <div class="card">
        <div class="text-center">
            <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/asus_G512LIHN054T.png" style="max-width: 200px" />
        </div>
        <div class="card-body">
            <input type="text" id="" value="001" hidden/>
            <h5 class="card-title">Laptop ASUS G512LIHN054T</h5>
        </div>
        <div class="card-footer justify-content-center">
            <h6 class="precio text-center"><b>₡990 000.00</b></h6>
            <a class="btn btn-success d-flex justify-content-center" itemid="001" onclick="agregarCarrito(this)">Agregar al carrito</a>
        </div>
    </div>

    <div class="card">
        <div class="text-center">
            <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/razer_basilisk.png" style="max-width: 200px" />
        </div>
        <div class="card-body">
            <h5 class="card-title">Mouse Razer Basilisk</h5>
        </div>
        <div class="card-footer justify-content-center">
            <h6 class="precio text-center"><b>₡35 000.00</b></h6>
            <a class="btn btn-success d-flex justify-content-center" href="#">Agregar al carrito</a>
        </div>
    </div>

    <div class="card">
        <div class="text-center">
            <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/razer_blackwidow.png" style="max-width: 200px" />
        </div>
        <div class="card-body">
            <h5 class="card-title">Teclado mecanico Razer Blackwidow</h5>
        </div>
        <div class="card-footer justify-content-center">
            <h6 class="precio text-center"><b>₡65 000.00</b></h6>
            <a class="btn btn-success d-flex justify-content-center" href="#">Agregar al carrito</a>
        </div>
    </div>

    <div class="card">
        <div class="text-center">
            <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/astro_a20.png" style="max-width: 200px" />
        </div>
        <div class="card-body">
            <h5 class="card-title">Headset gaming PS4-PC Astro A20</h5>
        </div>
        <div class="card-footer justify-content-center">
            <h6 class="precio text-center"><b>₡95 000.00</b></h6>
            <a class="btn btn-success d-flex justify-content-center" href="#">Agregar al carrito</a>
        </div>
    </div>

    <div class="card">
        <div class="text-center">
            <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/logitech_g502.png" style="max-width: 200px" />
        </div>
        <div class="card-body">
            <h5 class="card-title">Teclado Logitech G513</h5>
        </div>
        <div class="card-footer justify-content-center">
            <h6 class="precio text-center"><b>₡44 900.00</b></h6>
            <a class="btn btn-success d-flex justify-content-center" href="#">Agregar al carrito</a>
        </div>
    </div>

    <div class="card">
        <div class="text-center">
            <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/asus_rog_strix_XG32VQR.png" style="max-width: 200px" />
        </div>
        <div class="card-body">
            <h5 class="card-title">Monitor Asus Rog Strix</h5>
        </div>
        <div class="card-footer justify-content-center">
            <h6 class="precio text-center"><b>₡349 900.00</b></h6>
            <a class="btn btn-success d-flex justify-content-center" href="#">Agregar al carrito</a>
        </div>
    </div>
    <div class="card">
        <div class="text-center">
            <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/cougar_armor_one.png" style="max-width: 200px" />
        </div>
        <div class="card-body">
            <h5 class="card-title">Silla Cougar Armor One</h5>
        </div>
        <div class="card-footer justify-content-center">
            <h6 class="precio text-center"><b>₡134 500.00</b></h6>
            <a class="btn btn-success d-flex justify-content-center" href="#">Agregar al carrito</a>
        </div>
    </div>
</div>
<br />
<br />
<div class="flex-wrapper gray-theme imageAndLink-type ">
    
        <h2 class="heading heading-focus v-fw-medium" >Marcas Destacadas</h2>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img width="133px" alt="133 px" src="~/images/LogoMarcas/AMD_logo.png" />
                </div>
                <div class="col">
                    <img width="133 px" alt="133 px"src="~/images/LogoMarcas/flx_Razer_green_hz_RGB.jpg" />
                </div>
                <div class="col">
                    <img width="133 px" alt="133 px"src="~/images/LogoMarcas/HpOmen.jpg" />
                </div>
                <div class="col">
                    <img width="133 px" alt="133 px"src="~/images/LogoMarcas/LenovoLegion.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col">

                   <img width="133 px" alt="133 px"src="~/images/LogoMarcas/LogitechLogo.jpg" />
                </div>
                <div class="col">

                   <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_acer.jpg" />
                </div>
                <div class="col">
                   <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_alienware.jpg" />
                </div>
                <div class="col">
                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_asus.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_intel.jpg" />
                  
                </div>
                <div class="col">
                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_MSI.jpg" />
                   
                </div>
                <div class="col">
                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/nvidia_logo.jpg" />
                </div>
                <div class="col">
                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/SamsungLogo.png" />
                </div>
            </div>
        </div>
    </div>
