
@{
    ViewBag.Title = "LaptopView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<br />
<br />
<br />
<center>



    <h2 style="font-family:Arial; font-size:30px"> Top de Categorias </h2>
    <div style="text-align-last: justify;">
        <div></div>
        <a href="@Url.Action("LaptopView", "Home")" title="Audifinos">
            <img alt="audifinos" src="@Url.Content("~/images/TopCategorias/laptops.jpg")">
        </a>

        <a href="@Url.Action("TelevisorView", "Home")" title="Televisor">
            <img alt="televisor" src="@Url.Content("~/images/TopCategorias/televisores.jpg")">
        </a>
        <img src="~/images/TopCategorias/laptops.jpg" width="205px" height="200px" alt="audifinos" title="Audifinos" style="float:center">

        <img src="~/images/TopCategorias/componentesPC.jpg" width="205px" height="200px" alt="laptops" title="Laptops" style="float:center">

        <img src="~/images/TopCategorias/smartphones.jpg" width="205px" height="200px" alt="smartphones" title="Smartphones" style="float:center">

        <img src="~/images/TopCategorias/audifinos.jpg" width="205px" height="200px" alt="audifinos" title="Audifinos" style="float:center">
    </div>

</center>
<br>
<br>

<h4>>Laptops</h4>
<br>

<div style="text-align: -webkit-left;">
    <div class="">
        <div class="">
        </div>
        <div class="">
            <input type="text" id="" value="00" hidden="">
        </div>
        <div class="justify-content-center">


        </div>
    </div>
    <div class="card">
        <div class="text-center">
            <img class="card-img-top align-content-center" alt="Imagen de pizza" src="~/images/productos/asus_G512LIHN054T.png" style="max-width: 200px" />
        </div>
        <div class="card-body">
            <input type="text" id="" value="001" hidden />
            <h5 class="card-title">Laptop ASUS G512LIHN054T</h5>
        </div>
        <div class="card-footer justify-content-center">
            <h6 class="precio text-center"><b>₡990 000.00</b></h6>
            <a class="btn btn-success d-flex justify-content-center" itemid="001" onclick="agregarCarrito(this)">Agregar al carrito</a>
        </div>
    </div>
    <div class="">
        <div class="">
        </div>
        <div class="">
            <input type="text" id="" value="00" hidden="">
        </div>
        <div class="justify-content-center">


        </div>
    </div>
    <br />
    <br />
    <div class="flex-wrapper gray-theme imageAndLink-type ">

        <h2 class="heading heading-focus v-fw-medium">Marcas Destacadas</h2>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img width="133px" alt="133 px" src="~/images/LogoMarcas/AMD_logo.png" />
                </div>
                <div class="col">
                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/flx_Razer_green_hz_RGB.jpg" />
                </div>
                <div class="col">
                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/HpOmen.jpg" />
                </div>
                <div class="col">
                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/LenovoLegion.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/LogitechLogo.jpg" />
                </div>
                <div class="col">

                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_acer.jpg" />
                </div>
                <div class="col">
                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_alienware.jpg" />
                </div>
                <div class="col">
                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_asus.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_intel.jpg" />

                </div>
                <div class="col">
                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/logo_MSI.jpg" />

                </div>
                <div class="col">
                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/nvidia_logo.jpg" />
                </div>
                <div class="col">
                    <img width="133 px" alt="133 px" src="~/images/LogoMarcas/SamsungLogo.png" />
                </div>
            </div>
        </div>
    </div>
