
@{
    ViewBag.Title = "FinalizarPedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informacion del contacto</h2>
<br />

<div class="input-group" style="display:flex;justify-content:start;">

    <div>

        <div class="input-group-prepend">

        </div>
        <input type="text" id="email" class="form-control" placeholder="correo electronico" aria-label="Correo" style=" width: 280px; height: 46px;" aria-describedby="basic-addon1">
    </div>

    <div>

        <div class="input-group-prepend">

        </div>
        <input type="text" id="email" class="form-control" placeholder="correo electronico" aria-label="Correo" style=" width: 280px; height: 46px;" aria-descri
               bedby="basic-addon1">
    </div>

</div>
<br />




<br />
<br />

<div class="input-group" style="display:flex;justify-content:space-evenly;">


    <a href="@Url.Action("CarritoView", "Carrito")">
        <input id="Submit1" type="submit" value="Continuar Comprando" class="form-control btn-info" />
    </a>

    <div>
        <input id="Submit1" type="submit" value="Finalizar Pedido" class="form-control btn-dark" />
    </div>
</div>
